
<div class="row col-sm-6 col-sm-offset-3"> 
    <div class="jumbotron">
        <h3> {{ dashboard.message }} </h3>
        <br>
         <form ng-submit="dashboard.findRoute()" class="container form-vertical" ">    
            <input type="text" class="form-control" placeholder="Room number" ng-model= "dashboard.destination.roomNumber">
            <br>
            <input type="text" class="form-control" placeholder="Floor number" ng-model= "dashboard.destination.floorNumber">
            <br>
            <input type="text" class="form-control" placeholder="Building" ng-model = "dashboard.destination.building">
            <br>
            <input type="submit" class="btn btn-dark btn-lg" value="{{ dashboard.checkMap }}"> 
        </form>
    </div> 
</div>