<div lass="row col-sm-6 col-sm-offset-3">
	<div class="jumbotron" >
		<h1> {{ main.welcome }} </h1>
		<h3> {{ main.message }} </h3>
		<br>
		<a class="btn btn-block btn-primary" href="/login">Login</a>
<!--<a href="#contact" class="btn btn-dark btn-lg"> {{ main.checkMap }}</a>

<form class=" container form-vertical" ng-submit="main.findRoute()">
    <input type="text" class="form-control" placeholder="Room number" ng-model= "main.destination.roomNumber">
    <br>
    <input type="text" class="form-control" placeholder="Floor number" ng-model= "main.destination.floorNumber">
    <br>
    <input type="text" class="form-control" placeholder="Building" ng-model = "main.destination.building">
    <br>
    <button type="submit" class = "btn-btn-success"> {{ main.checkMap }}</button>
</form>
--></div>
</div>
