<style>

		.unorderedlist {
			display: inline-block;
			color: #eee;
			font-size: 22px;
			padding: 0;
			width: 500px;
			border-radius: 3px;
			background-color: rgb(0, 107, 218);
			list-style: none;
		}

		.unorderedlist-item {
			list-style: none;
			border-bottom: 1px dotted #ccc;
			text-indent: 25px;
			height: auto;
			padding: 10px;
			text-transform: capitalize;
		}

		.unorderedlist-tem:hover {
			background-color: rgb(54, 100, 148);
		}


		.remove {
			font-family: Arial Black;
			color: #000;
			font-size: 16px;
			border: none;
			background: none;
			text-align: center;
		}
		.todolist {
			background-color: none;
		}

		
</style>
<section id="todolist">
	<div class="row col-sm-6 col-sm-offset-3"> 
		<div class="jumbotron">
			<h3>To Do List</h3>
			<todolist></todolist>
		</div>
	</div>
</section>