<style type="text/css">
	body {
	  font-family:"Trebuchet MS", Helvetica, sans-serif;
	  letter-spacing: 1px;
	  background-size: cover;
	  background-position: center center;
	  background-attachment: fixed;
	  background-repeat: no-repeat;
	}

	/*#round
	{
	  border-radius: 50px 50px 50px 50px;
	}*/

	div.container-fluid {
		position:fixed;
		margin-left: 25%;
		margin-top: -330px;
		/*margin: 30px;*/
		background-color: rgba(245, 245, 245, 0.48);
		width:  50%;
		height: 85%;
		/*margin-left:auto;*/
		/*margin-right:auto;*/
		font-weight: bold;
		box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

	}

	div.container-fluid p {
	  border-radius: 50px 50px 50px 50px;

	  color: #FFFFFF;
	}

	.location {
	  position:absolute;
	  top:50px;
	  left: 0px;
	  right: 0px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  font-size: 3.5em;
	  font-weight: bold;
	  color: #000000;
	}

	.description {
	  position: absolute;
	  top: 300px;
	  left: 0px;
	  right: 0px;
	  margin-left: auto;
	  margin-right: auto;
	  text-align: center;
	  font-size: 2.75em;
	  color: #000000;

	}

	.btn2 {
	  position:absolute;
	  margin-left: auto;
	  margin-right: auto;
	  top:100px;
	  left: 0px;
	  right: 0px;
	  height: 75px;
	  width: 125px;
	  border: none;
	  border-radius: 25%;
	  color: #000000;
	  font-weight: bold;
	  font-size: 2.0em;
	  text-align: center;
	  /*box-shadow: -5px 5px 10px;*/
	  top:200px;
	}

	.btn2:focus {
	  color: #000000 ;
	  outline: none;
	}

	.temp {
	  /*margin-top: 10%;*/
	  position:absolute;
	  margin-left: auto;
	  margin-right: auto;
	  left: 0px;
	  right: 0px;
	  top:100 px;
	  text-align: center;
	  color: #000000 ;
	}

	.tempText {
	  position:absolute;
	  margin-left: auto;
	  margin-right: auto;
	    text-align: center;
	  left: 0px;
	  right: 0px;
	  top: 200px;
	  font-size: 2.0em;
	  font-weight: bold;
	  color: #FFFFFF;
	}

	.humidity {
	  font-size: 2.0em;
	  text-align: center;
	  color: #000000;
	  font-weight: bold;
	  position:absolute;
	  right:420px;
	  top:500px;
	}

	.wind {
	  font-size: 2.0em;
	  text-align: center;
	  color: #000000;
	  font-weight: bold;
	  position:absolute;
	  left:420px;
	  top:500px;
	}

	.windIcon {
	  position:absolute;
	  top:400px;
	  left:430px;
	  /*
	  margin-right: 50%;
	  border-radius: 40%;*/
	  opacity: .9;
	  height: 6.0em;
	}

	.humidityIcon {
	  position:absolute;
	  right:450px;
	  top:400px;
	  height: 6.0em;
	}

	.icon {
	  position:absolute;
	  margin-left: auto;
	  margin-right: auto;
	    text-align: center;
	  left: 0px;
	  right: 0px;
	  top: 350px;
	  /*transform: scale(3.0);*/
	}
	.footer {
	  position: absolute;
	  right: 0;
	  bottom: 0;
	  left: 0;
	  padding: 1rem;
	  background-color: #efefef;
	  text-align: center;
	  
	}
</style>
<section>
    <weather></weather>
</section>






